.root {
  width: 100%;
  position: relative;

  > svg {
    position: absolute;
    top: 11px;
    left: 12px;
  }
}

.input_flat {
  width: 100%;

  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-black);

  &::placeholder {
    color: #7a869a;
  }
}

.root_color {
  width: auto;
}

.input_color {
  opacity: 0;

  position: absolute;
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
}

.btn_color {
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.input {
  padding: 0 12px;
  height: 40px;
  width: 100%;

  transition: 0.2s ease;
  border-radius: 3px;
  box-shadow: 0 0 0 2px rgba(#f2f3f5, 1);
  background: #fafbfc;

  font-size: 16px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: var(--color-black);

  &::placeholder {
    color: #7a869a;
  }

  &:disabled {
    box-shadow: 0 0 0 2px rgba(#f2f3f5, 0);
    background: #fafbfc;

    &,
    &::placeholder {
      color: #a5adba;
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px #4c9aff;
    background: #fff;
  }
}

.input_error {
  box-shadow: 0 0 0 2px var(--color-red);
}

.input_search {
  padding-left: 36px;
}

.error_wrap {
  display: block;
  padding-top: 4px;
  line-height: 1;

  overflow: hidden;
  max-height: 0;
  transition: max-height 0.175s;
}

.error_wrap_active {
  max-height: 20px;
}

.error {
  font-size: 12px;
  color: var(--color-red);
}
