.courses {
  > li:not(:last-child) {
    margin-bottom: 12px;
  }
}

.status_dot {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: 8px;

  border-radius: 50%;
}

.header {
  flex: 1;
  display: flex;
  align-items: center;
}

.period {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 18px;

  svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
}

.tools {
  position: relative;
  z-index: 2;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;

  margin-left: auto;
  display: flex;
  align-items: center;

  > li:not(:last-child) {
    margin-right: 12px;
  }
}

.tools_visible {
  opacity: 1;
  pointer-events: auto;
}

.description {
  margin-bottom: 24px;

  :global {
    .ce-paragraph {
      color: var(--color-gray);
    }
  }
}
