.root {
  :global {
    .ce-paragraph[data-placeholder]:empty::before {
      color: var(--color-gray);
    }

    .codex-editor__redactor {
      padding-bottom: 16px !important;
    }
  }
}

.root_reset {
  :global {
    .ce-toolbar__content,
    .ce-block__content {
      max-width: 100%;
      margin: 0;
    }

    .codex-editor__redactor {
      padding-bottom: 0 !important;
    }
  }
}
