.wrapper {
  min-width: 337px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);

  button {
    width: 100%;
  }

  input {
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 2px solid var(--color-lightgray);

    &:focus {
      box-shadow: 0 0 0 2px var(--color-primary);
    }
  }

  .categories {
    ul {
      border-radius: 4px;

      transition: background-color 0.25s ease;

      button {
        display: flex;
        align-items: center;

        padding: 8px;

        svg {
          margin-right: 8px;

          transition: transform 0.25s ease;
        }
      }

      a {
        color: currentColor;
        transition: color 0.25s ease;
      }

      .material_active {
        color: var(--color-primary);

        a {
          color: currentColor;
        }
      }

      li {
        display: flex;
        align-items: center;

        padding: 8px;
        margin-left: 24px;

        border-radius: 4px;

        svg {
          margin-right: 4px;
        }
      }
    }
  }
}

.category_drop_target {
  background-color: var(--color-primary-light);
}

.category_active {
  svg {
    transform: rotate(90deg);
  }
}

.categories_empty {
  padding: 40px 0px;

  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var((--color-gray));
}

.wrapper_edit {
  padding-right: 36px;

  border-right: 1px solid var(--color-lightgray);

  .categories {
    ul {
      li {
        margin-left: 36px;

        a {
          width: 100%;
          display: block;
        }
      }

      .material_active {
        transition: background-color 0.25s ease;

        background-color: var(--color-lightgray);
        border-radius: 4px;

        a {
          color: var(--color-black);
        }
      }

      .material_dragging {
        background-color: var(--color-primary);

        a {
          color: #fff;
        }
      }

      button,
      a {
        svg {
          transition: none;
        }
      }
    }
  }
}

.header {
  width: 100%;

  div {
    width: 100%;

    margin-bottom: 16px;

    button {
      width: 100%;

      svg {
        margin-left: auto;
      }
    }
  }
}

.material_draft {
  color: #7a869a;
}

.footer {
  margin-top: 16px;
  padding-top: 16px;

  border-top: 1px solid var(--color-lightgray);
}

.new_btns {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  > button {
    height: 32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0px !important;
    margin: 0px !important;

    box-shadow: 0px 3px 5px rgba(9, 30, 66, 0.2),
      0px 0px 1px rgba(9, 30, 66, 0.31);
    border-radius: 3px;

    &:first-child {
      margin-right: 4px;
    }

    > svg {
      margin: 0px !important;
    }
  }
}

.create_category {
  display: none;
  height: 0px;
  opacity: 0;
  pointer-events: none;

  transition: 0.25s ease;
}
.create_category_open {
  display: block;
  height: 80px;
  opacity: 1;
  pointer-events: auto;
}

.create_material_btn {
  height: 38px;

  margin-left: 36px;

  color: var(--color-primary);
  opacity: 1;
  border-radius: 4px;
  pointer-events: auto;

  transition: 0.25s ease;

  svg {
    margin-right: 10px;
  }
}

.create_material_btn_closed {
  opacity: 0;
  height: 0px;
  pointer-events: none;
}

.create_material_input {
  margin-left: 36px;

  button {
    padding: 0;

    svg {
      transform: none;
      margin: 0;
    }
  }
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 40px 0px;
}
