.root {
  padding: 36px 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 24px;
}

.title {
  font-weight: bold;
  font-size: 28px;
}

.dropdowns {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  margin-bottom: 16px;
  margin-left: -12px;

  > li {
    margin-left: 12px;
  }
}

.hw_header {
  position: relative;
  z-index: 2;

  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deadline {
  display: flex;
  align-items: center;

  .warning {
    margin-left: 24px;
  }
}

.deadline_time {
  margin-left: 12px;

  input {
    width: 192px;
  }
}
