.root {
  padding: 36px 0;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 36px;

  .buttons {
    margin-left: auto;
    display: flex;
    align-items: center;

    button {
      margin-left: 12px;
    }
  }
}

.title {
  font-size: 28px;
}

.subjects {
  > p {
    color: #7a869a;
    margin-bottom: 16px;
  }

  > ul {
    li {
      min-height: 48px;
      display: flex;
      align-items: center;

      > label {
        margin-left: 12px;
        cursor: pointer;
      }
    }
  }
}

.subject {
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 18px;

  svg {
    color: #99a2ad;
    margin-right: 8px;
  }
}

.tabs {
  position: relative;
  z-index: 1;
  width: 450px;
}
