.subject {
    display: flex;
    flex-direction: column;
    margin: 38px 0;

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_title {
            font-weight: bold;
            font-size: 28px;
            color: #091E42;

        }

    }
}