body.no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

:root {
  --padding: 36px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--padding);
}

a {
  color: var(--color-black);
}

.ReactCollapse--collapse {
  transition: height 0.175s ease;
}

div.Toastify__progress-bar--default {
  background: var(--color-primary);
}

.Toastify__toast-body {
  font-family: 'Nunito', sans-serif;
  white-space: pre-wrap;
  word-break: break-word;
}
