:root {
  --color-black: #282a2f;
  --color-primary: #4949d3;
  --color-primary-light: rgba(73, 73, 211, 0.12);
  --color-green: #4bb34b;
  --color-red: #de350b;
  --color-gray: #7a869a;
  --color-lightgray: #eff1f4;
}
